.footer{
    background: #fff;
    text-align: center;
    padding: 12px;
    border-top: 1px solid #ECF0F1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.textFooter{
    font-size: 14px;
    font-weight: 400;
    color: #4a5568;
}