.containerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
  row-gap: 25px;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: max-content;
}
.gridItem {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: #003f4e;
}

.detailsSlider {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.detailsSlider h1{
  text-align: center;
  font-size: 20px;
}
.icons {
  width: 60px;
  height: 60px;
}

.iconsSmall {
  width: 30px;
  height: 30px;
}
.country {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
